<%- include('./partials/header') %>
    body {
    <!-- background:url("https://img.freepik.com/free-vector/404-error-web-template-flat-style_23-2147757407.jpg?size=626&ext=jpg&ga=GA1.1.987557602.1707283343&semt=ais")no-repeat center center/cover; -->
    font-family: 'Baloo Bhai', cursive;
    font-size: 20px;
    background-color:black
    }
    </style>
    </head>
    <body class="">
        <%- include('./partials/navbar') %>
            <div class="container col-md-6 mt-4 mx-auto  ">
            <img src="https://img.freepik.com/free-vector/404-error-web-template-flat-style_23-2147757407.jpg?size=626&ext=jpg&ga=GA1.1.987557602.1707283343&semt=ais" alt="Error page">
            </div>
        <%- include('./partials/footer') %>