<%- include('./partials/header') %>
        body {
            font-family: 'Baloo Bhai', cursive;
            background-image: url("https://images.unsplash.com/photo-1492892132812-a00a8b245c45?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.7;
            color: white;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <%- include('./partials/navbar') %>

    <div class="container shadow col-md-4  my-xxl-5 bg-dark rounded-5">
        <form action="/api/v1/user/signup" method="post" enctype="multipart/form-data">
            <h1 class="text-lg-center text-primary">Register User</h1>
            <label for="" class="form-label">Full Name:</label>
            <input type="text" class="form-control mb-3" required name="fullName">
            <label for="" class="form-label">Email Id:</label>
            <input type="email" class="form-control mb-3" required name="email">
            <label for="" class="form-label">Password</label>
            <input type="password" class="form-control mb-3" required name="password">
            <label for="avatar" class="form-label">Avatar Image</label>
            <input type="file" class="form-control mb-3"  name="avatar">
            <p>If already register go to<a  href="/api/v1/user/login" class="card-link">login</a></p>
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
    <%- include('./partials/footer') %>